<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico"/>
	<title>Editar Funcionário </title>
	<link rel="stylesheet" type="text/css"
		href="/funcionarios/resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="/funcionarios/resources/css/bootstrap-vue.css">
</head>

<body>
<div id="editar" class="container-fluid">
	
	<h4>Editar Funcionário</h4>
	<a href="/funcionarios/index.html" class="btn btn-light mb-2" role="button">Retornar para a Lista</a>

	<form>
		<div class="form-group">
			<label>Nome:</label>
			<input type="text" class="form-control" id="nome" v-model="dnome">
		</div>

		<div class="form-group">
			<label>Email:</label>
			<input type="email" class="form-control" id="email" v-model="demail">
		</div>

		<div class="form-group">
			<label>Salário:</label>
			<input type="number" class="form-control" id="salario" v-model="dsalario">
		</div>

		<div class="form-group">
			<label>Idade:</label>
			<input type="number" class="form-control" id="idade" v-model="didade">
		</div>

		<label>Setor:</label>
		<div class="input-group">
			<select id="dropSetor" class="custom-select"  v-bind="setor" v-model="dsetor">
				<option disabled value="">Escolha um Setor</option>
				<option v-for="s in setor" v-bind:value="{id: s.id, nome: s.nome}">{{s.nome}}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" @click="getSetores"><span class="reload">&#x21bb;</span></button>
			</div>
		</div>

	</form>
	<div>
			<button class="btn btn-light mt-2" type="button" @click="editarFuncionario()">Salvar</button>

	</div>
	
</div>





	<script src="/funcionarios/resources/js/vue.js"></script>
	<script src="/funcionarios/resources/js/axios.min.js"></script>
	<script src="/funcionarios/resources/js/editar-funcionario.js"></script>
</body>
</html>